{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="email=no,telephone=no,address=no">
        <title>松山市文化財app</title>
        <meta name="description" content="松山市の文化財オープンデータを使用し、leaflrt,foliumでmap化したサイトです。">

        <meta name="robots" content="index,follow">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}">
    <title>Hello, world!</title>
</head>

<body>



<header>

<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark " style="background-color: #222222;">
  <a class="navbar-brand" href="{% url 'index' %}">松山市文化財データapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
         <li class="nav-item ">
        <a class="nav-link " href="{% url 'lists' %}" >
          文化財データ一覧
        </a>
      </li><li class="nav-item ">
        <a class="nav-link " href="{% url 'NewsView' %}" >
          文化財ニュース
        </a>
      </li>
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          文化財マップ一覧
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'index' %}">松山市文化財マップ(全て)</a>
          <a class="dropdown-item" href="{% url 'KokuhouView' %}">松山市文化財(国宝)</a>
          <a class="dropdown-item" href="{% url 'TatemonoView' %}">松山市文化財(建造物)</a>
          <a class="dropdown-item" href="{% url 'NotatemonoView' %}">松山市文化財(その他)</a>

        </div>
      </li>
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          サイト情報
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'site' %}">当サイトについて</a>
          <a class="dropdown-item" href="https://forms.gle/EYqmTEpEmUCQZF5q6">問い合わせ</a>
        </div>
      </li>
    </ul>


  </div>
</nav>
</header>
<main>


    <!-- 当サイトについて -->
    <section class="position-relative pt-5">
        <div class="bg-lightblue half half-info"></div>
        <div class="container text-center position-relative bg-lightblue">
<br><br>
            <h2 class="h3 dot font-weight-bold pt-3 pb-5 px-0 mb-0">松山市文化財データapp</h2>
        </div>
        <div class="continer-fluid bg-lightblue pb-3">
            <div class="container text-center pb-5">
                <p>当サイトは愛媛県松山市教育委員会文化財課作成のオープンデータを使用しています。<br>
                    平成30年10月31日更新のデータを使用しています、当サイトを参考にする場合はご注意ください。</p>
                <p>
                    また、当サイトはLeaflet、Folium等でマップを作製しdjangoを使用し表示しています。</p>
            </div>
        </div>
    </section>

    <!-- 外部サイト -->
   <section class="position-relative pt-5" id="sec5">
        <div class="bg-white half half-lightblue"></div>
        <div class="text-center position-relative">
            <h2 class="h3 dot font-weight-bold pt-3 pb-5 px-0 mb-0">外部サイト</h2>
        </div>
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-6 py-3"> <img src="{% static 'img/スクリーンショット 2022-07-08 142201.png' %}" alt="" class="w-100 rounded"> </div>
                <div class="col-md-6 py-3">
                    <h3 class="h4 py-3 text-center font-weight-bold">愛媛県松山市サイト</h3>
                    <p class="h6 mb-4">	松山市文化財一覧のオープンデータ元ページです。<br>引用：https://www.city.matsuyama.ehime.jp/shisei/opendata/metadata/bunkazai.html</p>
                    <div class="text-center"> <a class="btn btn-info badge-pill text-center px-4" href="https://www.city.matsuyama.ehime.jp/shisei/opendata/metadata/bunkazai.html">愛媛県松山市オープンデータ</a> </div>
                </div>
            </div>
        </div>

    </section>


</main>
<footer class="position-relative pt-5" style="border-color: #fff;">
    <!-- フッターナビ -->

    <div class="bg-dark pb-3 position-relative">
        <div class="container mt-3">
         <br>
            <div class="row px-md-0">
                <div class="col-md-6" >
                    <p class="text-white h5 font-weight-bold">松山市文化財データapp</p><hr>
                    <a href="https://forms.gle/EYqmTEpEmUCQZF5q6"><div style="color:white"><i class="far fa-envelope mr-2">お問い合わせ</i></div></a>

                    <hr>
                </div>
                <div class="col-md-6" >
                   <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}"><div style="color:white">松山市文化財マップ</div><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lists' %}"><div style="color:white">文化財リスト</div></a>
      </li> <li class="nav-item active">
        <a class="nav-link" href="{% url 'NewsView' %}"><div style="color:white">文化財 News</div></a>
      </li> <li class="nav-item">
        <a class="nav-link" href="{% url 'site' %}"><div style="color:white">当サイトについて</div></a>
      </li>

    </ul>
                </div>
            </div>
        </div>
        <hr style="border-color: #fff;">
        <p class="mb-0 pt-2 text-white text-center mod-copyright">2022 &copy; 松山市文化財データapp</p>
        <div class="row"> </div>

    </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>